<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="http://js.arcgis.com/3.13/esri/css/esri.css">
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>ESRI Maps Layer</title>
    <style>
      html, body, #map { 
          height: 100%; width: 100%; margin: 0; padding: 0; 
      }
        .button {
            background-color: rgba(223, 223, 223, 0.6);
            border-radius: 3px;  
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            padding:5px;
            width: 130px;
            text-align: center;
            font-size: 1em;
             box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
             transition: background-color .3s;
              overflow: hidden;
        }
    </style>  
  </head>
  <body>
      <div id="map">
      <div style="position:absolute; left:100px; top:10px; z-Index:999;">
          <div class="button" onClick="switchMap()">Switch To Google Basemap</div>
      </div>
      </div>
    <script src="http://js.arcgis.com/3.13/"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/esrimap.js"></script>
  </body>
</html>

